header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4e69a2;
}

header img {
    width: 200px;
    height: 35px;
    padding: 20px;
    padding-left: 15%;
    padding-top: 30px;
    display: inline-block;
}

header form {
    float: right;
    padding-right: 20%;
    padding-top: 10px;
}

td {
    padding-right: 5px;
    padding-left: 5px;
}

header a {
    color: aliceblue;
}

header th {
    color: white;
    text-align: left;
}

header button {
    background-color: #4e69a2;
    color: white;
    border-color: aliceblue;
}

main {
    display: flex;
    padding-top: 91px;
    background-color: azure;
}

.section-left {
    flex: 1;
    padding-left: 15%;
    padding-right: 10%;
}

.section-right {
    width: 500px;
    padding-right: 20%;
}

.section-left li {
    padding-top: 30px;
    padding-bottom: 20px;
}

.section-right p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-right input[type="text"] {
    margin-top: 6px;
    height: 30px;
}

.left-input {
    width: 46%;
    margin-right: 4%;
}

.right-input {
    width: 46%;
}

.full {
    width: 97%;
}

a {
    text-decoration: none;
}

.darkgrayp {
    color: darkgray;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 12px;
}

nav {
    padding-bottom: 5px;
}

nav a {
    padding-right: 10px;
}

h3 {
    color: grey;
    margin: 10px;
    margin-left: 0px;
}

footer {
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 20%;
}

footer p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    color: grey;
}

.sign-up-btn {
    background-color: green;
    height: 50px;
    width: 200px;
    color: white;
    border-radius: 10px;
    font-size: 22px;
}

.lg-hr {
    background-color: lightgrey;
    height: 1px;
    border: none;
    margin-bottom: 8px;
    margin-top: 8px;
}

.section-right form {
    padding-top: 20px;
    padding-bottom: 50px;
}

.reg_pages_msg {
    font-family: bold;
    font-weight: 700;
    font-size: 15px;
    padding-top: 5px;
}
fieldset {
    border: none;
}
fieldset label {
    display: inline-block;
    color: white;
    padding: 0 10px;
}
fieldset p{
    padding: 0;
    margin: 0;
}
